.home3{
    display: flex;
    height: 648px;

}

.home3-left{
    background-color: rgb(227, 245, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.bridging-the-gap{
    margin: 0;
    margin-bottom: 30px;
    margin-left: 15%;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);

}

.bridging-the-gap-text{
    margin: 0;
    margin-left: 15%;
    font-family: zilla slab;
    font-size: 24px;
    font-weight: 300;
    color: rgb(103,103,103);
    width: 400px;
}


@media (max-width: 1240px){
    .home3{
        height: auto;
    }

    .bridging-the-gap{
        margin-left: 12%;
        font-size: 35px;
    }
    
    .bridging-the-gap-text{
        margin-left: 12%;
        font-size: 22px;
        width: 370px;
    }

    .every-dress{
        width: 55%
    }
}

@media (max-width: 1040px){
    .home3{
        height: auto;
    }

    .bridging-the-gap{
        margin-left: 10%;
        font-size: 30px;
    }
    
    .bridging-the-gap-text{
        margin-left: 10%;
        font-size: 18px;
        width: 300px;
    }

    .every-dress{
        width: 55%
    }
}

@media (max-width: 860px){
    .home3{
        flex-wrap: wrap;
    }

    .home3-left{
        height: 600px;
    }

    .bridging-the-gap{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 37px;
    }
    
    .bridging-the-gap-text{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 23px;
        width: 71%;
    }

    .every-dress{
        width: 100%
    }
}
