.about-us-4{
    background-color: rgb(255, 249, 228);
    padding-top: 65px;
    padding-bottom: 120px;
}


.our-partners{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin: 0;
    margin-bottom: 80px;

}


.partners-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 15%;
    margin-left: 10%;
    margin-right: 10%;

}

.csa, .twc, .aarna, .goonj, .ahaana, .smile, .sseva, .ratna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.csa-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(219, 89, 89);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
    
}

.twc-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(84, 124, 161);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.aarna-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(249, 185, 61);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.goonj-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(160, 198, 234);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.ahaana-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(219, 89, 89);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.smile-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(84, 124, 161);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}
.sseva-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(249, 185, 61);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.ratna-circle{
    width: 204px;
    height: 204px;
    border-radius: 200px;
    background-color: white;
    border: 8px solid rgb(160, 198, 234);
    margin-bottom: 37px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.csa-icon{
    width: 129px;
    margin: 41px 42px 41px 33px;
}

.twc-icon{
    width: 136px;
    margin: 54px 34px 54px 34px;
}

.aarna-icon{
    width: 116px;
    margin: 29px 41px 32px 48px;
}

.goonj-icon{
    width: 153px;
    margin: 39px 21px 43px 31px;
}

.ahaana-icon{
    width: 153px;
    margin: 20px 21px 43px 24px;
}

.smile-icon{
    width: 153px;
    margin: 42px 0 0 24px;
}

.sseva-icon{
    width: 153px;
    margin: 42px 0 0 24px;
}
.ratnanidhi-icon{
    width: 153px;
    margin: 20px 21px 43px 24px;
}

.csa-title, .twc-title, .aarna-title, .goonj-title, .ahaana-title, .smile-title, .sseva-title, .ratna-title{
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    width: 200px;
}
