.home2{
    background-color: rgb(255, 249, 228);
    padding-top: 65px; 
}

.about-us{
    margin-top: 0px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin-bottom: 0;
}

.about-us-grid{
    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10%;
    column-gap: 7%;
    margin-left: 3%;
    margin-right: 3%;
}

.what-we-do, .our-mission, .our-vision{
    background-color: white;
    height: 410px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
    font-family: lato;
    color: rgb(45,56,95);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 55px;
}

.what-we-do{
    border-bottom: 10px solid rgb(219, 89, 89);
}

.our-mission{
    border-bottom: 10px solid rgb(84, 124, 161);
}

.our-vision{
    border-bottom: 10px solid rgb(249, 185, 61);
}

.what-we-do-img, .our-mission-img, .our-vision-img{
    margin-top: 23px;
    height: 207px;
}

.what-we-do-text, .our-mission-text, .our-vision-text{
    color: rgb(103,103,103);
    font-size: 21px;
    font-weight: 300;
    font-family: zilla slab;
    width: 250px;
    margin: 30px 40px;
}

.our-mission-text{
    width: 200px;
    margin: 38px 65px;
}

.our-vision-text{
    width: 250px;
    margin: 38px 40px;
}

