.gallery-title{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

.main-grid-container{
    width: 1040px;
    display: grid;
    grid-template-rows: 400px 754px 852px 530px 372px 485px 520px 507px 545px;
    row-gap: 30px;
    justify-content: center;
    margin: auto;
    margin-bottom: 90px;
}

.row-1{
    display: grid;
    grid-template-columns: 300px 710px;
    column-gap: 30px;
}

.row-1-column-1{
    width: 100%;
    height: 100%;
}

.row-1-column-2{
    width: 100%;
    height: 100%;
}

.row-2{
    display: grid;
    grid-template-columns: 373px 637px;
    column-gap: 30px;
}

.row-2-column-1{
    display: grid;
    grid-template-rows: 278px 210px 210px;
    row-gap: 30px;
}

.row-2-column-1-row-1{
    width: 100%;
    height: 100%;
}



.row-2-column-1-row-2{
    width: 100%;
    height: 100%;
}

.row-2-column-1-row-3{
    width: 100%;
    height: 100%;
}



.row-2-column-2{
    display: grid;
    grid-template-rows: 400px 329px;
    row-gap: 30px;
}

.row-2-column-2-row-1{
    display: grid;
    grid-template-columns: 300px 307px;
    column-gap: 30px;
}


.row-2-column-2-row-1-column-1{
    width: 100%;
    height: 100%;
}

.row-2-column-2-row-1-column-2{
    width: 100%;
    height: 100%;
}


.row-2-column-2-row-2{ 
    display: grid;
    grid-template-columns: 441px 166px;
    column-gap: 30px
}

.row-2-column-2-row-2-column-1{
    width: 100%;
    height: 100%;
}

.row-2-column-2-row-2-column-2{
    width: 100%;
    height: 100%;
}



.row-3{
    display: grid;
    grid-template-columns: 710px 300px;
    column-gap: 30px;
}


.row-3-column-1{
    display: grid;
    grid-template-rows: 399px 423px;
    row-gap: 30px;
}

.row-3-column-1-row-1{
    width: 100%;
    height: 100%;
}

.row-3-column-1-row-2{
    display: grid;
    grid-template-columns: 380px 300px;
    column-gap: 30px;
}

.row-3-column-1-row-2-column-1{
    width: 100%;
    height: 100%;
}

.row-3-column-1-row-2-column-2{
    display: grid;
    grid-template-rows: 224px 169px;
    row-gap: 30px;
}

.row-3-column-1-row-2-column-2-row-1{
    width: 100%;
    height: 100%;
}

.row-3-column-1-row-2-column-2-row-2{
    width: 100%;
    height: 100%;
}

.row-3-column-2{
    display: grid;
    grid-template-rows: 225px 398px 169px;
    row-gap: 30px;
}

.row-3-column-2-row-1{
    width: 100%;
    height: 100%;
}

.row-3-column-2-row-2{
    width: 100%;
    height: 100%;
}

.row-3-column-2-row-3{
    width: 100%;
    height: 100%;
}

.row-4{
    display: grid;
    grid-template-columns: 300px 710px;
    column-gap: 30px;
}

.row-4-column-1{
    display: grid;
    grid-template-rows: 170px 330px;
    row-gap: 30px;
}

.row-4-column-1-row-1{
    width: 100%;
    height: 100%;
}

.row-4-column-1-row-2{
    width: 100%;
    height: 100%;
}

.row-4-column-2{
    width: 100%;
    height: 100%;
}


.row-5{
    display: grid;
    grid-template-columns: 186px 279px 251px 234px;
    column-gap: 30px;
}

.row-5-column-1{
    width: 100%;
    height: 100%;
}

.row-5-column-2{
    width: 100%;
    height: 100%;
}

.row-5-column-3{
    width: 100%;
    height: 100%;
}

.row-5-column-4{
    width: 100%;
    height: 100%;
}



.row-6{
    display: grid;
    grid-template-columns: 754px 256px;
    column-gap: 30px;
}

.row-6-column-1{
    width: 100%;
    height: 100%;
}

.row-6-column-2{
    display: grid;
    grid-template-rows: 266px 189px;
    row-gap: 30px;
}

.row-6-column-2-row-1{
    width: 100%;
    height: 100%;
}

.row-6-column-2-row-2{
    width: 100%;
    height: 100%;
}


.row-7{
    display: grid;
    grid-template-columns: 525px 485px;
    column-gap: 30px;
}

.row-7-column-1{
    width: 100%;
    height: 100%;
}

.row-7-column-2{
    width: 100%;
    height: 100%;
}



.row-8{
    display: grid;
    grid-template-columns: 236px 774px;
    column-gap: 30px;
}

.row-8-column-1{
    display: grid;
    grid-template-rows: 276px 201px;
    row-gap: 30px;
}

.row-8-column-1-row-1{
    width: 100%;
    height: 100%;
}

.row-8-column-1-row-2{
    width: 100%;
    height: 100%;
}

.row-8-column-2{
    width: 100%;
    height: 100%;
}

.row-9{
    display: grid;
    grid-template-columns: 464px 544px;
    column-gap: 30px;
}

.row-9-column-1{
    width: 100%;
    height: 100%;
}

.row-9-column-2{
    width: 100%;
    height: 100%;
}

.gallery-image{
    transition: box-shadow 0.2s;
}

.gallery-image:hover{
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.gallery-image{
    border-radius: 25px;
}




@media (max-width: 1060px){
    .main-grid-container{
        width: 642px;
        grid-template-rows: 247px 469px 526px 328px 230px 300px 324px 313px 337px;
        row-gap: 19px;
    }
    
    .row-1{
        
        grid-template-columns: 185px 442px;
        column-gap: 19px;
    }
    
    .row-2{
        grid-template-columns: 231px 396px;
        column-gap: 19px;
    }
    
    .row-2-column-1{
        grid-template-rows: 173px 130px 129px;
        row-gap: 19px;
    }
    
    .row-2-column-2{
        grid-template-rows: 248px 203px;
        row-gap: 19px;
    }
    
    .row-2-column-2-row-1{
        grid-template-columns: 186px 195px;
        column-gap: 19px;
    }
    
    .row-2-column-2-row-2{ 
        grid-template-columns: 272px 102px;
        column-gap: 19px;
    }
    
    .row-3{
        grid-template-columns: 439px 185px;
        column-gap: 19px;
    }
    
    .row-3-column-1{
        grid-template-rows: 246px 261px;
        row-gap: 19px;
    }
    
    .row-3-column-1-row-2{
        grid-template-columns: 235px 185px;
        column-gap: 19px;
    }
    
    .row-3-column-1-row-2-column-2{
        grid-template-rows: 138px 104px;
        row-gap: 19px;
    }
    
    
    .row-3-column-2{
        grid-template-rows: 138px 246px 104px;
        row-gap: 19px;
    }
    
    .row-4{
        grid-template-columns: 185px 438px;
        column-gap: 19px;
    }
    
    .row-4-column-1{
        grid-template-rows: 105px 204px;
        row-gap: 19px;
    } 
    
    
    .row-5{
        grid-template-columns: 115px 172px 156px 145px;
        column-gap: 19px;
    }


    .row-6{
        grid-template-columns: 466px 158px;
        column-gap: 19px;
    }

    .row-6-column-2{
        grid-template-rows: 163px 116px;
        row-gap: 19px;
    }

    .row-7{
        grid-template-columns: 324px 299px;
        column-gap: 19px;
    }

    .row-8{
        grid-template-columns: 146px 478px;
        column-gap: 19px;
    }

    .row-8-column-1{
        grid-template-rows: 170px 125px;
        row-gap: 19px;
    }

    .row-9{
        grid-template-columns: 286px 336px;
        column-gap: 19px;
    }
}








@media (max-width: 670px){
    .gallery-title{
        margin-bottom: 30px;
        
    }

    .gallery-image{
        border-radius: 20px;
    }


    .main-grid-container{
        grid-template-rows: 120px 228px 256px 159px 112px 145px 156px 152px 164px;
        row-gap: 9px;
        width: 312px;
        margin-bottom: 60px;
    }
    
    .row-1{
        grid-template-columns: 90px 215px;
        column-gap: 9px;
    }
    
    .row-2{
        grid-template-columns: 113px 193px;
        column-gap: 9px;
    }
    
    .row-2-column-1{
        grid-template-rows: 84px 63px 62px;
        row-gap: 9px;
    }
    
    .row-2-column-2{
        grid-template-rows: 121px 98px;
        row-gap: 9px;
    }
    
    .row-2-column-2-row-1{
        grid-template-columns: 90px 95px;
        column-gap: 9px;
    }
    
    .row-2-column-2-row-2{ 
        grid-template-columns: 132px 49px;
        column-gap: 9px;
    }
    
    .row-3{
        grid-template-columns: 213px 90px;
        column-gap: 9px;
    }
    
    .row-3-column-1{
        grid-template-rows: 119px 127px;
        row-gap: 9px;
    }
    
    .row-3-column-1-row-2{
        grid-template-columns: 114px 90px;
        column-gap: 9px;
    }
    
    .row-3-column-1-row-2-column-2{
        grid-template-rows: 67px 50px;
        row-gap: 9px;
    }
    
    
    .row-3-column-2{
        grid-template-rows: 67px 119px 50px;
        row-gap: 9px;
    }
    
    .row-4{
        grid-template-columns: 90px 213px;
        column-gap: 9px;
    }
    
    .row-4-column-1{
        grid-template-rows: 51px 99px;
        row-gap: 9px;
    }   

    .row-5{
        grid-template-columns: 56px 84px 76px 70px;
        column-gap: 9px;
    }


    .row-6{
        grid-template-columns: 226px 77px;
        column-gap: 9px;
    }

    .row-6-column-2{
        grid-template-rows: 79px 57px;
        row-gap: 9px;
    }

    .row-7{
        grid-template-columns: 157px 145px;
        column-gap: 9px;
    }

    .row-8{
        grid-template-columns: 71px 232px;
        column-gap: 9px;
    }

    .row-8-column-1{
        grid-template-rows: 83px 61px;
        row-gap: 9px;
    }

    .row-9{
        grid-template-columns: 139px 163px;
        column-gap: 9px;
    }
}