.volunteering-5{
    background-color: rgb(255, 249, 228);
    padding-top: 65px; 
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 40px;
}

.hear-from-our-volunteers-title{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin: 0;
}

.hear-from-our-volunteers-grid{
    display: grid;
    grid-template-columns: 233px 233px 233px 233px;
    justify-content: space-evenly;
    margin-top: 45px;
}

.pink-flex, .yellow-flex, .lightblue-flex, .darkblue-flex{
    background-color: white;
    height: 450px;
    width: 233px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pink-flex{
    border-bottom: 10px solid rgb(219, 89, 89);
}

.darkblue-flex{
    border-bottom: 10px solid rgb(84, 124, 161);
}

.yellow-flex{
    border-bottom: 10px solid rgb(249, 185, 61);
}

.lightblue-flex{
    border-bottom: 10px solid rgb(160, 198, 234);
}

.pink-volunteer-img{
    width: 118px;
    height: 118px;
    border-radius: 100px;
    border: 5px solid rgb(219, 89, 89);
    margin: 0;
}

.darkblue-volunteer-img{
    width: 118px;
    height: 118px;
    border-radius: 100px;
    border: 5px solid rgb(84, 124, 161);
    margin: 0;
}

.yellow-volunteer-img{
    width: 118px;
    height: 118px;
    border-radius: 100px;
    border: 5px solid rgb(249, 185, 61);
    margin: 0;
}

.lightblue-volunteer-img{
    width: 118px;
    height: 118px;
    border-radius: 100px;
    border: 5px solid rgb(160, 198, 234);
    margin: 0;
}

.volunteer-name{
    font-family: lato;
    color: rgb(45,56,95);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3px;
}

.volunteer-description{
    color: rgb(103, 103, 103);
    font-family: zilla slab;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 15px;
}


.saanvi-statement{
    width: 200px;
    height: fit-content;
    margin-top: 18px;
    font-family: zilla slab;
    font-size: 15px;
    font-weight: 300;
    color: rgb(103,103,103)
}

.anjika-statement{
    width: 190px;
    height: fit-content;
    margin-top: 12px;
    font-family: zilla slab;
    font-size: 12px;
    font-weight: 300;
    color: rgb(103,103,103)
}

.prisha-statement{
    width: 200px;
    height: fit-content;
    margin-top: 25px;
    font-family: zilla slab;
    font-size: 16px;
    font-weight: 300;
    color: rgb(103,103,103)
}

.daksh-statement{
    width: 190px;
    height: fit-content;
    margin-top: 30px;
    font-family: zilla slab;
    font-size: 17px;
    font-weight: 300;
    color: rgb(103,103,103)
}


@media (max-width: 1070px){
    .hear-from-our-volunteers-grid{
        grid-template-columns: 233px 233px;
    }

    .pink-flex, .darkblue-flex{
        margin-bottom: 30px;
    }
}

@media (max-width: 640px){
    .hear-from-our-volunteers-grid{
        grid-template-columns: 233px;
    }

    .pink-flex, .darkblue-flex, .yellow-flex{
        margin-bottom: 30px;
    }

    .lightblue-flex{
        margin-bottom: 30px;
    }


}