.gallery-title{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

.gallery {
    width: 73%;
    margin: auto;
    width: 1070px;
    margin-bottom: 50px;
}

.parent-row {
    margin-bottom: 1.4vw;
}

.row {
    display: flex;
    width: 100%;
    gap: 1.4vw;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.4vw;
}

.grid-image-container {
    display: flex;
}

.gallery-image {
    width: 100%;
}

@media (max-width: 670px){
    .gallery-title{
        margin-bottom: 40px;
    }
}

@media (max-width: 1090px) {
    .gallery {
        width: 73%;
    }
}

@media (min-width: 2100px) {
    .row {
        gap: 20px;
    }

    .column {
        gap: 20px;
    }

    .parent-row {
        margin-bottom: 20px;
    }
}