.recognition-box-flex{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-left: 3%;
    margin-right: 3%;
}


.recognition-title {
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}



.recognition-box {
    border-radius: 30px;
    width: 560px;
    height: 500px;
    background-color: #E3F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 35px 0px rgba(0,0,0, .15);
}

.recognition-box-title {
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    width: 218px;

    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.sammamish-logo-circle{
    position: absolute;
    background-color: white;
    background-color: white;
    border-radius: 300px;
    border: 4px solid rgb(84, 124, 161);
    height: 58px;
    width: 58px;
    transition: box-shadow 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;

    top: -20px;
    left: -140px;
}

.sammamish-logo{
    width: 24px;
    margin-left: 1px;
}


.quotation-mark{
    width: 30px;
    margin-bottom: 15px;
}

.sammamish-quote{
    color: rgb(103, 103, 103);
    font-family: zilla slab;
    font-style: italic;
    text-align: center;
    width: 400px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 17px;
}

.quote-line{
    background-color: rgb(84, 124, 161);
    width: 120px;
    height: 3px;
    border-radius: 100px;
    margin-bottom: 38px;
}

.button-flex{
    display: flex;
    gap: 30px;
}


.recognition-button{
    background-color: rgb(84, 124, 161);
    width: 140px;
    height: 35px;
    border-radius: 300px;
    border: 4px solid rgb(84, 124, 161);
    transition: box-shadow 0.2s;
    font-size: 18px;
    color: white;
    font-family: zilla slab;

    display: flex;
    align-items: center;
    justify-content: center;
}


.recognition-button:hover, .sammamish-logo-circle:hover{
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.15);
}

.bolly-text {
    font-family: zilla slab;
    font-size: 22px;
    color:rgb(103, 103, 103);
}

.bolly-logo-container {
    background-color: white;
    height: 236px;
    width: 236px;
    border: 9px solid rgb(84, 124, 161);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 35px;
    transition: box-shadow 0.2s;

    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.2);
}

.bolly-logo-container:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}

.bolly-logo {
    margin-top: -10px;
    width: 190px;
}

@media (max-width: 1220px) {
    .recognition-box-flex{
        gap: 3%;
    }

    .recognition-box {
        width: 500px;
        height: 500px;
    }

    .sammamish-logo-circle{
        top: -20px;
        left: -100px;
    }
    
}

@media (max-width: 970px) {
    .recognition-box-flex{
        gap: 3%;
    }

    .recognition-box {
        width: 400px;
        height: 470px;
    }

    .sammamish-logo-circle{
        border: 3px solid rgb(84, 124, 161);
        height: 47px;
        width: 47px;
    
        top: -25px;
        left: -55px;
    }
    
    .sammamish-logo{
        width: 18px;
        margin-left: 0px;
    }

    .sammamish-quote{
        width: 300px;
        font-size: 18px;
    }

    .recognition-box-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .quote-line {
        margin-bottom: 30px;
    }

    .button-flex {
        gap: 20px;
    }

    .recognition-button {
        width: 120px;
        height: 30px;
        font-size: 16px;
    }

    .bolly-logo-container {
        height: 200px;
        width: 200px;
        border: 9px solid rgb(84, 124, 161);
        margin-top: 25px;
        margin-bottom: 42px;
    }

    .bolly-logo {
        width: 160px;
    }

    .bolly-text {
        font-size: 20px;
    }
}

@media (max-width: 790px) {
    .recognition-box {
        width: 320px;
        height: 420px;
    }

    .recognition-box-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .sammamish-logo-circle{
        border: 3px solid rgb(84, 124, 161);
        height: 42px;
        width: 42px;
    
        top: -20px;
        left: -32px;
    }
    
    .sammamish-logo{
        width: 16px;
        margin-left: 0px;
    }

    .quotation-mark {
        width: 23px;
        margin-bottom: 8px;
    }

    .sammamish-quote{
        width: 250px;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .recognition-box-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .quote-line {
        margin-bottom: 22px;
    }

    .button-flex {
        gap: 15px;
    }

    .recognition-button {
        width: 95px;
        height: 22px;
        font-size: 13px;
    }

    .bolly-logo-container {
        height: 170px;
        width: 170px;
        border: 6px solid rgb(84, 124, 161);
        margin-top: 25px;
        margin-bottom: 42px;
    }

    .bolly-logo {
        width: 130px;
    }

    .bolly-text {
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    .recognition-box-flex {
        flex-direction: column;
        gap: 35px;
        margin: 0;
        margin-bottom: 25px;
    }

    .sammamish-logo-circle {
        top: -30px;
 
    }

    .recognition-box-title {
        margin-bottom: 15px;
    }

    .bolly-text {
        font-size: 18px;
    }

    .quote-line {
        margin-bottom: 20px;
    }

    .impact-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recognition-title {
        margin-top: 10px;
    }
}

@media (min-width: 2100px) {
    .recognition-box-flex {
        gap: 50px;
    }
}