.recognition-title {
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    color: rgb(45,56,95);
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.media-flex {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.media-box {
    background-color: white;
    width: 304px;
    height: 275px;
    box-shadow: 0 0 10px 1px rgba(0,0,0, .15);

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;

    position: relative;
}

.media-name {
    margin-top: 42px;
    height: 43.02px;
    margin-bottom: 22px;
}

.bolly-name {
    width: 150px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.media-date {
    font-family: zilla slab;
    font-size: 17px;
    color: #547CA1;
    font-weight: 700;
    margin-bottom: 3px;
}

.media-title { 
    font-family: zilla slab;
    font-size: 18px;
    color: rgb(103, 103, 103);
    text-align: center;
    width: 240px;
}

.read-more {
    font-family: zilla slab;
    font-size: 17px;
    color: rgb(103,103,103);
    font-weight: 700;
    transition: color .5s;
    position: absolute;
    bottom: 38px;
    cursor: pointer;
}

.read-more:hover, .back:hover {
    color: #547CA1;
}

.reporters {
    display: none;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: auto auto;

    column-gap: 7px;
    row-gap: 3px;
}

.reporter {
    width: 100%;
    border-radius: 7px;
}


.multiple {
    font-family: zilla slab;
    font-size: 16px;
    color: rgb(103, 103, 103);
    text-align: center;
    display: none;
    margin-top: 40px;
    width: 220px;
    margin-bottom: 23px;
}

.back {
    font-family: zilla slab;
    font-size: 17px;
    color: rgb(103,103,103);
    font-weight: 700;
    transition: color .5s;
    position: absolute;
    bottom: 38px;
    cursor: pointer;
    display: none;
}


@media (max-width: 700px) {
    .media-box {
        width: 93%;
    }

    .media-flex {
        margin-left: 3%;
    margin-right: 3%;
    }
}